.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.feedback-card {
  max-width: 600px;
  margin: 4px
}

.example-dt {
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
}
