<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex>
        <h2>Our History</h2>
        <p>Started in 2021, ReadARs Inc. quickly established itself as a platform that addresses 3 key issues - 'immersion','networking','discovery' - book readers have always faced. With its unique Augmented Reality (AR) based approach,readers enjoy content rich and immersive reading expereince.
           The platform enables the readers to share harvested experiences, provide reviews and recommedations, connect in a virtual community based setting and provides ideas to find the next best book to read - quicker & faster</p>
        <p>ReadARs Inc. is a brainchild of its founders - who are avid readers themselves - who often struggled with 3 key issues - 'immersion','networking','discovery'. Founder believe that crowdsouring of ideas enabled by innovative technologies is right approach to address these issues.</p>
      </div>

    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Reading brings us unkown friends</h3>
        <footer>-- Honore de Belzac,
          <cite>keepinspiring.me</cite>
        </footer>
      </blockquote>
      <blockquote>
        <h3>If you don’t like to read, you haven’t found the right book.</h3>
        <footer>-- J.K.Rowling,
          <cite>keepinspiring.me</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>

  <div fxFlex>
    <h2>Team</h2>
    <mat-list *ngIf="leaders" [@expand]>
        <mat-list-item *ngFor="let leader of leaders">
          <img mat-list-avatar src="{{ baseURL + leader.image }}" alt={{leader.name}}>
          <h4 matLine> {{leader.name}} {{leader.abbr}}</h4>
            <p matLine> {{leader.designation}}</p>
            <p matLine>{{leader.description}}
            </p>
        </mat-list-item>
      </mat-list>
      <div [hidden]="leaders || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
  </div>
</div>
