<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Reading brings us unkown friends</h3>
        <footer>-- Honore de Belzac,
          <cite>keepinspiring.me</cite>
        </footer>
      </blockquote>
      <blockquote>
        <h3>If you don’t like to read, you haven’t found the right book.</h3>
        <footer>-- J.K.Rowling,
          <cite>keepinspiring.me</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex>
        <mat-card>
        <h2>What is ReadARs Inc. ?</h2>
        <h4 style="color:grey;">
        <p>
          ReadARs Inc. is a brainchild of its founders who are avid readers themselves.
          They have been satiating their reading appetite by reading books of every genre leveraging every possible book format
          (physical, audio and e-books) and procuring books in every possible way.
          </p>
          <p>
          All the while, they have struggled to find best solution for 3 key areas  - 'discovery of new books',
          'networking with like minded readers' and 'immersion with the book's content'. Not finding right solutions or platforms
          where all these issues are addressed, they decided to do tackle these themselves.
          </p>
        </h4>
        <h4 style="color:grey;">
        <p>
          ReadARs: CONNECTING READERS WITH BOOK OWNERS is one of our attempts to tackle the topic of 'discovery of new books'.
            Here, we are making it possible for the readers to open their home library to others, connect and exchange books!!
            We are really looking forward to you using this app and providing your valuable feedback to further enhance it.
        </p>
        <p>
            Please watch out this space as we continue to find the best solutions to address all the 3 key areas mentioned above!
        </p>
        </h4>
        </mat-card>
      </div>

    </div>
  </div>


  <!-- <div fxFlex>
    <h2>Team</h2>
    <mat-list *ngIf="leaders" [@expand]>
        <mat-list-item *ngFor="let leader of leaders">
          <img mat-list-avatar src="{{ baseURL + leader.image }}" alt={{leader.name}}>
          <h4 matLine> {{leader.name}} {{leader.abbr}}</h4>
            <p matLine> {{leader.designation}}</p>
            <p matLine>{{leader.description}}
            </p>
        </mat-list-item>
      </mat-list>
      <div [hidden]="leaders || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
  </div> -->
</div>
