table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-panel-title {
  font-size: 30px;

}

td, th {
  width: 25%;
}

.hide {
  display: none;
}

.flex-spacer-icons {
  flex: 0.5 0.5 auto;
}
