
$lt-gray: #ddd;
//$background-dark: #3F51B5;
//$background-light: #7986CB;
//$background-pale: #C5CAE9;
//$background-moredark: #1A237E;

$background-pale: #C8E6C9;
$background-light: #81C784;
$background-dark: #4CAF50;
$background-moredark: #1B5E20;


.mat-toolbar.mat-primary {
  background: $background-moredark;
}
