$lt-gray: #ddd;
//$background-dark: #3F51B5;
//$background-light: #7986CB;
//$background-pale: #C5CAE9;
//$background-moredark: #1A237E;

$background-pale: #C8E6C9;
$background-light: #81C784;
$background-dark: #4CAF50;
$background-moredark: #1B5E20;

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.hide {
  display: none;
}

carousel {
  height: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(20px,20px);
    background: $background-moredark ;
    color:white;
    min-height: 50px;
}
