
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
</div>

<carousel>
  <ng-container *ngFor="let slide of slides">
    <ng-container *carouselItem>
      <!--<div class="slide">{{ slide.title }}</div> -->
    <!--  <img src="/assets/images/book-reader.png" height=30 width=41> -->
      <img src="{{slide.image}}" height=652 width=1200>
    </ng-container>
  </ng-container>
</carousel>

<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
     <h2 style="color: green;"> And our users say...</h2>
</div>
<carousel>
  <ng-container *ngFor="let feedback of feedbacks">
    <ng-container *carouselItem>
      <mat-card class="feedback-card">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
          <mat-card-content>
              <span style="text-align: right;"></span>
              <h3 style="color: green;"> {{feedback.message}}</h3>
              <p> -- {{feedback.firstname}} {{feedback.lastname}}, {{feedback.createdAt | date }} </p>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
      <!--<h3>{{feedback.message}}</h3>
      <p> -- {{feedback.firstname}} {{feedback.lastname}}, {{feedback.createdAt | date }} </p> -->
    </ng-container>
  </ng-container>
</carousel>
<div *ngIf="feedbackErrMess">
  <h2>Error</h2>
  <h4>{{feedbackErrMess}}</h4>
</div>

<!--<div *ngIf="feedbacks || feedbackErrMess; else loading" [@expand]>
  <h4 style>Customer Testimonials...</h4>
   <mat-card *ngFor="let feedback of feedbacks" class="feedback-card">
     <mat-card-header>
       <div mat-card-avatar></div>
       <mat-card-title>
       </mat-card-title>
     </mat-card-header>
     <mat-card-content style="text-align: right;">
       <h3>{{feedback.message}}</h3>
       <p> -- {{feedback.firstname}} {{feedback.lastname}}, {{feedback.createdAt | date }} </p>
     </mat-card-content>
   </mat-card>
   <div *ngIf="feedbackErrMess">
     <h2>Error</h2>
     <h4>{{feedbackErrMess}}</h4>
   </div>
 </div> -->




<!-- <mat-card *ngIf="dish" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish || dishErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="dishErrMess">
  <h2>Error</h2>
  <h4>{{dishErrMess}}</h4>
</div> -->

<!-- <mat-card *ngIf="promotion" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + promotion.image }}" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion || promoErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="promoErrMess">
  <h2>Error</h2>
  <h4>{{promoErrMess}}</h4>
</div> -->

<!-- <mat-card *ngIf="leader" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leader.name | uppercase}} </h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + leader.image }}" alt={{leader.name}}>
  <mat-card-content>
    <p>{{leader.designation}}</p>
    <p>{{leader.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="leader || leaderErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="leaderErrMess">
  <h2>Error</h2>
  <h4>{{leaderErrMess}}</h4>
</div> -->
